/* 全局样式表 */
html, 
body, 
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    margin-bottom: 15px;
}
.el-table {
    margin-top: 10px;
}
.el-pagination {
    margin-top: 10px;
}
.el-cascader-panel {
    max-height: 200px;
}
.ql-editor {
    min-height: 300px;
}